.FlexContainer
{
    display: flex;
    justify-content: center;
    gap:3%;
    margin-right: 20px;
    margin-left: 20px;
}

.HomepageImageLinks
{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
}
